 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I'm Leo, a software developer.</p>
                    <p>I have extensive teamwork experience in <strong>backend development</strong> with <strong>Node.js</strong>, possessing abilities to implement complicated API logic and maintain enterprise-level projects.</p>
                </div>
                <div class="col-lg-4">
                    <!-- <p>Being a diligent and goal-oriented programmer, I always work towards achieving best result on each project I lay my hands on.</p> -->
                    <p>Proficient in data modeling and MVC architecture design, I am also interested in database and network engineering.</p>
                    <p>I will start my MSCS program at <strong>Northeastern University</strong> in September 2022, and I'm looking for exciting intern opportunities in the software industry.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1l6iveoePLLwM74kSBmH2kmuBGs3I6xnB/view?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-link"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
